# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# OpenAI
OPENAI_API_KEY=

# Replicate
REPLICATE_API_TOKEN=
REPLICATE_WEBHOOK_SIGNING_SECRET=

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=

# RevenueCat
REVENUECAT_API_KEY=
REVENUECAT_WEBHOOK_TOKEN=

# Upshash QStash
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# HiKeyAPI
NEXT_PUBLIC_APP_URL=


# General
NODE_ENV=development